/*
font-family: 'Raleway', sans-serif; - 400 - 700
font-family: 'Open Sans', sans-serif; - 400
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

:root{
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 80%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/**MOBILE FIRST**/

.block-main__img{ max-width: 100%; }

/**HEADER**/

.block-main__header{
    padding: 50px 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 140px;
}

.block-main__menu-nav-top{
    justify-self: flex-end;
    display: flex;
    gap: 50px;
}

.block-main__item-menu-top{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 1.5rem; /*22px or 24px*/
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/**SECTION INTRO**/

.block-main__section-intro{
    padding: 45px 45px 0 45px;
    margin-bottom: 180px;
}

.block-main__side-content-intro{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.block-main__side-content-intro img{
    display: block;
    width: 95%;
}

.block-main__text-intro{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.block-main__title-intro{
    font-size: 3rem; /*48px*/
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 50px;
    width: 630px;
}

.block-main__description-intro{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    width: 600px;
    margin-bottom: 58px;
}

.block-main__form-intro{
    display: flex;
    flex-flow: column nowrap;
}

.block-main__input-email-top{
    box-sizing: border-box;
    display: block;
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    font-size: 1.5rem; /*24px*/
    /*padding: 24px 0 24px 40px;*/
    padding-left: 40px;
    height: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--light-gray);
    border-radius: 5px;
    margin-bottom: 33px;
}

.block-main__btn-get-start{
    box-sizing: border-box;
    display: block;
    width: 600px;
    background-color: var(--bright-blue);
    border: none;
    color: var(--light-grayish-blue);
    font-size: 1.7rem; /*24px*/
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 24px 0;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

/**SECTION FEATURED**/

.block-main__section-featured{
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 450% 100%; /*450% 100%*/
    padding: 180px 35px 165px 35px;
}

.block-main__side-content-featured{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 170px;
}

.block-main__side-content-featured img{
    display: block;
    width: 90%;
}

.block-main__title-featured{
    font-size: 2rem; 
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    width: 630px;
    margin: 0 auto 55px auto;
}

.block-main__description-featured{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 30px;
    color: var(--desaturated-blue);
    width: 620px;
}

.block-main__description-featured:nth-child(3){ margin-bottom: 80px; }

.block-main__link-fylo-works{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 225px 40px;
    color: var(--moderate-cyan);
    border-bottom: 2px solid var(--moderate-cyan);
    text-decoration: none;
    width: 260px;
    padding: 0 0 8px 0;
    margin: 0 auto 75px auto;
}

.block-main__icon-link{
    display: inline-block;
    text-decoration: underline solid var(--moderate-cyan) 2px;
    padding: 0 0 0 10px;
    width: 42px;
    height: 32px;
    justify-self: flex-end;
}

.block-main__testimonial{
    background-color: white;
    width: 570px;
    margin: 0 auto;
    padding: 45px 30px 45px 50px;
    border-radius: 8px;
    box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.1);
}

.block-main__icon-quotes{
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
}

.block-main__text-testimonial{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.block-main__profile{
    display: flex;
    align-items: center;
    gap: 15px;
}

.block-main__image-profile{
    display: block;
    width: 50px;
    border-radius: 50%;
}

.block-main__name-user{
    font-size: 1.1rem; 
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
}

.block-main__activity-user{
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 1px;
}

/**SECTION SIGN UP**/

.block-main__section-sign-up{
    background-color: var(--desaturated-blue);
    padding: 110px 0 140px 0;
}

.block-main__text-sign{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
}

.block-main__title-sign{
    color: var( --light-grayish-blue);
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 35px;
}

.block-main__description-sign{
    color: var(--light-grayish-blue);
    font-size: 28px;/*1.8rem*/
    font-weight: 400;
    width: 570px;
    text-align: center;
    line-height: 1.5;
}

.block-main__form-sign{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.block-main__input-email{
    box-sizing: border-box;
    display: block;
    width: 500px;
    border: 1px solid transparent;
    padding: 20px 0px 20px 20px;
    font-size: 20px;/*1.3rem*/ 
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--light-gray);
    border-radius: 3px;
    margin-bottom: 15px;
}

.block-main--modifier{
    width: 500px;
    font-size: 20px; /*1.3rem*/
    padding: 20px 0;
    border-radius: 3px;
    outline: none;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

/**FOOTER**/

.block-main__footer{
    background-color: var(--very-dark-blue);
    padding: 130px 10px 134px 80px;
}

.block-main__logo-footer{
    display: block;
    width: 350px;
    max-width: 100%;
    margin-bottom: 90px;
}

.block-main__contact{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 135px;
    font-style: normal;
}

.block-main__phone-contact{ margin-bottom: 40px; }

.block-main__phone-contact, 
.block-main__email-contact{
    display: flex;
    align-items: center;
    gap: 40px;
}

.block-main__text-contact{
    color: var(--light-grayish-blue);
    text-decoration: none;
    display: block;
    font-size: 2rem;
}

.block-main__icon-contact{
    display: block;
    width: 40px;
}

.block-main__phone-contact .block-main__icon-contact{ width: 38px; }

.block-main__nav-footer{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 100px;
}

.block-main__nav-footer:nth-child(3){ margin-bottom: 100px; }

.block-main__item-nav{
    display: block;
    color: var(--light-grayish-blue);
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.block-main__item-nav:last-child{ margin-bottom: 0; }

.block-main__nav-social-media{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.block-main__item-nav-social{
    display: flex;
    text-decoration: none;
    color: var(--light-grayish-blue);
    font-size: 1.7rem;
    border: 1px solid var(--light-grayish-blue);
    padding: 10px;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

input[type="email"]:focus{
    outline: none;
}

/**ACTIVE STATES**/

.block-main__btn-get-start:hover{
    opacity: 0.8;
    cursor: pointer;
}

.block-main__item-nav:hover, .block-main__item-nav-social:hover{
    color: var(--bright-blue);
    border-color: var(--bright-blue);
}

.block-main__link-fylo-works:hover{ opacity: 0.6; }

/**FORM VALIDATION**/

input[type="email"]:invalid{
    border: 1px solid red;
}

input[type="email"]:valid{
    border: 1px solid greenyellow;
}

/**breakpoint 681px ou menos**/
@media screen and (max-width: 681px) {

    .block-main__title-featured{
        width: auto;
        margin: 0 0 55px 0;
        font-size: 1.5rem;
    }

    .block-main__description-featured{ 
        width: auto;
        font-size: 1.1rem; 
    }

    .block-main__header{
        padding: 50px 20px 0 20px;
        grid-template-columns: 1fr;
        row-gap: 25px;
        justify-items: center;
    }

    .block-main__menu-nav-top{
        justify-self: auto;
        display: flex;
        gap: 30px;
    }

    .block-main__item-menu-top{ font-size: 1.1rem; }

    .block-main__title-intro{
        font-size: 2rem;
        width: auto;
    }

    .block-main__description-intro{
        font-size: 1.3rem;
        width: auto;
    }

    .block-main__form-intro{
        width: 100%;
        justify-content: center;
    }

    .block-main__input-email-top{
        width: auto;
        font-size: 1.1rem;
        padding-left: 10px;
        height: 60px;
    }
    
    .block-main__btn-get-start{
        width: auto;
        font-size: 1.1rem;
        padding: 14px 0;
        height: 60px;
    }

    .block-main__section-featured{
        background-image: url(../images/bg-curve-mobile.svg);
        background-size: 650% 100%;
    }

    .block-main__conteiner-link-works{
        display: grid;
        grid-template-columns: minmax(min-content, 210px);
        align-items: center;
        margin-bottom: 75px;
        justify-content: center;
        justify-items: center;
    }

    .block-main__link-fylo-works{
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-bottom: 0;
    }

    .block-main__testimonial{
        width: auto;
        margin: 0 0;
    }

    .block-main__title-sign{ font-size: 1.5rem; }

    .block-main__description-sign{
        font-size: 1.1rem;
        width: auto;
    }

    .block-main__section-sign-up{ padding: 110px 30px 140px 30px; }

    .block-main__form-sign{
        display: grid;
        grid-template-columns: minmax(min-content, 250px);
    }

    .block-main__input-email{
        width: auto;
        padding: 20px 0px 20px 20px;
        font-size: 1.1rem; 
        height: 60px;
    }

    .block-main__text-testimonial{ font-size: 1rem; }

    .block-main__name-user{ font-size: 1rem; }

    .block-main__logo-footer{ width: auto; }

    .block-main__footer{ padding: 130px 20px 134px 30px; }

    .block-main__text-contact{ font-size: 1.1rem; }

    .block-main__phone-contact 
    .block-main__icon-contact, 
    .block-main__icon-contact{ width: auto; }

    .block-main__phone-contact, 
    .block-main__email-contact{ gap: 20px; }

    .block-main__item-nav{
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .block-main__contact{ margin-bottom: 100px; }

    .block-main__item-nav-social{
        font-size: 1.2rem;
        padding: 10px;
        width: 35px;
        height: 35px;
    }
}

/**BREAKPOINT 1000px ou mais**/
@media screen and (min-width: 1000px) {
    .block-main__section-featured{          
        background-size: 350% 100%; 
        display: grid;
        grid-template-columns: minmax(min-content, 1.1fr) 1fr;/*minmax(min-content, 655px)*/
        padding: 150px 80px 115px 80px;
    }
    
    .block-main__header{ 
        padding: 70px 80px 0 80px; 
        margin-bottom: 45px;
    }

    .block-main__item-menu-top{ font-size: 1rem; }

    .block-main__section-intro{
        padding: 45px 80px 0 80px;
        margin-bottom: 180px;
        display: grid;
        grid-template-columns: minmax(min-content, 1fr) 1fr; /*minmax(min-content, 600px)*/
        align-items: center;
        justify-content: center;
        justify-items: center;   
    }

    .block-main__side-content-intro{
        grid-column: 2/3;
        grid-row: 1;
        margin-bottom: 0;
    }

    .block-main__title-intro{
        font-size: 2.5rem;
        font-family: 'Raleway', sans-serif;
        text-align: left;
        margin-bottom: 18px;
        width: auto;
    }

    .block-main__description-intro{
        font-size: 1.1rem;
        text-align: left;
        width: auto;
        padding: 0 20px 0 0;
        margin-bottom: 25px;
    }

    .block-main__text-intro{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .block-main__form-intro{
        display: flex;
        flex-flow: row wrap;
        gap: 15px;
    }

    .block-main__input-email-top{
        width: 300px;
        font-size: 0.9rem;
        height: auto;
        padding: 15px 0 10px 20px;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    
    .block-main__btn-get-start{
        width: auto;
        height: auto;
        font-size: 0.9rem;
        padding: 15px 60px;
        border-radius: 3px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .block-main__side-content-featured{
        grid-column: 2/3;
        grid-row: 1;
        margin-bottom: 0;
    }

    .block-main__title-featured{
        font-size: 2.5rem; 
        text-align: left;
        width: auto;
        margin: 0 0 30px 0;
    }

    .block-main__description-featured{
        font-size: 1rem;
        text-align: left;
        margin-bottom: 18px;
        width: auto;
        padding-right: 110px;
        color: rgb(0, 0, 0);
    }

    .block-main__description-featured:nth-child(3){ margin-bottom: 20px; }

    .block-main__link-fylo-works{
        font-size: 1rem;
        display: grid;
        grid-template-columns: 150px 20px;
        border-bottom: 1px solid var(--moderate-cyan);
        grid-auto-rows: 25px;
        width: 170px;
        padding: 0 0 3px 0;
        margin: 0 0 45px 0;
        align-items: center;
    }

    .block-main__icon-link{
        text-decoration: none;
        padding: 0 0 0 0;
        width: 8px;
        height: 8px;
    }

    .block-main__testimonial{
        width: 340px;
        margin: 0 0;
        padding: 30px 35px 30px 35px;
        border-radius: 8px;
        box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.1);
    }

    .block-main__text-testimonial{
        font-size: 0.8rem;
        margin-bottom: 15px;
        letter-spacing: normal;
        font-weight: 500;
    }

    .block-main__icon-quotes{
        display: block;
        width: 15px;
        height: 15px;
        margin-bottom: 10px;
    }

    .block-main__image-profile{ width: 30px; }

    .block-main__name-user{
        font-size: 0.7rem; 
        letter-spacing: normal;
        margin-bottom: 4px;
    }

    .block-main__activity-user{
        font-size: 0.5rem;
        letter-spacing: normal;
    }

    .block-main__profile{ gap: 10px; }

    .block-main__section-sign-up{
        padding: 110px 80px 90px 80px;
        display: grid;
        grid-template-columns: minmax(min-content, 490px) minmax(min-content, 480px);
        gap: 18%;
    }

    .block-main__text-sign{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        margin-bottom: 0px;
    }
    
    .block-main__title-sign{
        font-size: 2rem;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .block-main__description-sign{
        font-size: 1rem;
        text-align: left;
        width: auto;
    }

    .block-main__input-email{
        width: 100%;
        height: auto;
        padding: 14px 0px 18px 20px;
        font-size: 0.8rem; 
    }

    .block-main--modifier{
        width: 200px;
        margin: 0;
        padding: 15px 20px;
    }

    .block-main__form-sign{
        flex-flow: column wrap;
        align-items: flex-start;
    }

    .block-main__footer{ padding: 110px 80px 80px 80px; }

    .block-main__logo-footer{
        width: 170px;
        margin-bottom: 25px;
    }

    .block-main__text-contact{ font-size: 1rem; }
    
    .block-main__icon-contact{ width: auto; }
    
    .block-main__phone-contact .block-main__icon-contact{ width: auto; }

    .block-main__phone-contact, 
    .block-main__email-contact{ gap: 20px; }

    .block-main__phone-contact{ margin-bottom: 20px; }

    .block-main__contact{
        margin-bottom: 0px;
        font-style: normal;
    }

    .block-main__nav-footer{ margin-bottom: 0px; }
    
    .block-main__nav-footer:nth-child(3){ margin-bottom: 0px; }
    
    .block-main__item-nav{
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .block-main__item-nav-social{
        font-size: 1rem;
        padding: 10px;
        width: 35px;
        height: 35px;
    }

    .block-main__navs-links{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15%;
    }
}

/**BREAKPOINT DE 1000PX and 1132PX para footer**/
@media screen and (min-width: 1000px) and (max-width: 1132px) {
    .block-main__navs-links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
        justify-content: center;
        justify-items: center;
    }
}